body {
  font-family: sans-serif;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dataCell {
  display: flex;
  border: 1px solid black;
  border-top: none;
}

.dataCell > p {
  /* width: 200px; */
  /* padding: 20px; */
}