body {
  font-family: sans-serif;
}

#table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dataCell {
  display: flex;
  border: 1px solid black;
  border-top: none;
}

.form {
  padding-block: 70px;
}

.selectedSearch {
  background-color: rgba(3, 96, 68, 0.765);
  color: white;

}

.optBnt {
  width: "300px";
  padding-inline: 20px;
  /* padding-block: 10px; */
  text-align: center;
  margin-inline: 5px;
  border: 1px solid gray;
  border-radius: 20px;
}

.form > * {
  margin: 10px;
}

.studentTable {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

 }

